* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-public: "Sen", sans-serif;
    --primary-color: #ffb900;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    --line-clamp: 3;
}

.word-beak-all {
    word-break: break-all;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 17px 16px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 24.5px;
    background-color: #171100;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

/* =======Header======  */

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-top: 36px;
    padding: 11px 0;
    background-color: #f5f0e7;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .logo {
    padding: 8px 0;
}

.header .nav ul {
    display: flex;
    gap: 22px;
    margin-left: 502px;
}

.nav a {
    padding: 11px 10px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.nav li.active a,
.nav a:hover {
    position: relative;
    color: #171100;
    text-shadow: 1px 1px 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 10px;
    bottom: 10px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: auto;
}
.header .action .btn-header {
    padding: 17px 41px;
}

/* ====Hero==== */
.hero {
    padding: 56px 0 65px;
    background-color: #f5f0e7;
}

.hero .row {
    display: flex;
    justify-content: space-between;
}

.hero .img-block {
    position: relative;
}

.hero .img-block .thumb {
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: 0 -230px;
    border-radius: 20px;
    vertical-align: bottom;
    /* Căn chỉnh thẻ inline không có khoảng đệm phía dưới */
}

.hero .summary {
    position: absolute;
    right: -100px;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px 0 10px 24px;
}

.hero .summary .grid {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.hero .summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .summary .grid:first-child .icon {
    background-color: #f8edd1;
}

.hero .summary .grid:nth-child(2) .icon {
    background-color: #f3daf9;
}

.hero .summary .grid:nth-child(3) .icon {
    background-color: #dedef9;
}

.hero .summary .column {
    margin-left: 16px;
}

.hero .summary .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero .summary .sub-title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    margin-top: 64px;
    width: 470px;
}

.hero .content-block .title {
    color: #171100;
    font-family: var(--font-public);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero .inner {
    margin: 38px 0 48px 0;
    display: flex;
    align-items: center;
}

.hero .btn-hero {
    padding: 23px 40px;
    border-radius: 32px;
    background: #ffb900;
    font-size: 1.8rem;
}

.hero .inner .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    margin: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-public);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/* =====Popular======== */

.popular {
    margin-top: 200px;
}

.popular .introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info .title {
    color: #171100;
    font-family: var(--font-public);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.popular .info .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.popular .switchs {
    display: flex;
    gap: 18px;
}

.popular .switchs .switch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
}

.popular .switchs .switch-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .list-course {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .item-course {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .item-course:hover {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .item-course .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .rating-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px 0;
}

.popular .rating-course .sub-title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular .rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .item-course .desc {
    padding: 6px 22px 0;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.popular .price-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px 22px;
}

.popular .price-order .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .price-order .btn-popular:hover {
    background-color: #ffb900;
}

/* =====Feedback====== */
.feedback {
    margin-top: 200px;
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .info-user .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .info-user .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-family: var(--font-public);
    font-weight: 700;
    line-height: 1.42;
}

.feedback-item .info-user .job {
    margin: 4px 0 28px 0;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback-item .dots {
    display: flex;
    cursor: pointer;
}

.feedback-item .dot {
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}

.feedback-item .dot.active {
    background-color: #ffb900;
    cursor: default;
}

.feedback-item .quote-block {
    width: 770px;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* Features */

.features {
    margin-top: 200px;
}

.features .body-features {
    display: flex;
    justify-content: space-between;
}

.features .img-block {
    display: flex;
    gap: 30px;
}
.features .img-block .thumb {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .img-block .thumb:first-child {
    margin-top: 34px;
}

.features .info-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 470px;
}

.info-features .title {
    color: #171100;
    font-family: var(--font-public);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.info-features .desc {
    margin: 16px 0;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .btn-features {
    margin-top: 16px;
    background-color: #ffb900;
}

/* Features-2 */

.features-2 .info-features {
    width: 570px;
}

.features-2 .img-block .thumb:first-child {
    margin-top: 0;
    margin-bottom: -3px;
    width: 470px;
    height: 440px;
    object-position: 0 -280px;
}

/*====== Blog===== */
.blog {
    margin-top: 200px;
    padding: 96px 0;
}

.blog-top .title {
    color: #130606;
    text-align: center;
    font-family: var(--font-public);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}
.blog-top .desc {
    margin-top: 18px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.Blog-list-block {
    display: flex;
    overflow: hidden;
}

.blog-list {
    display: flex;
    flex-shrink: 0;
    margin-top: 55px;
    width: 100%;
    gap: 0 30px;
}

.blog-item {
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    width: calc(33.33% - 20px);
}

.blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
}

.blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .content-item {
    padding: 20px 20px 28px;
}
.content-item .time-block {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.content-item .dot {
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.content-item .time {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.content-item .time-block::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: -12px;
    content: "";
    height: 2px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.content-item .sub-title {
    margin: 25px 0 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.content-item .btn-blog:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 0 6px;
    margin-top: 66px;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    cursor: pointer;
}

.blog .dots .dot.active {
    background-color: var(--primary-color);
}

/* ====Footer==== */

.footer {
    padding: 96px 0 28px 0;
    background-color: #2e2100;
}
.footer .row {
    display: flex;
    padding-bottom: 26px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21%;
}

.footer .row .column:first-child {
    width: 37%;
}

.footer .row .desc {
    max-width: 267px;
    padding: 18px 0;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .socials a {
    margin-right: 18px;
}

.footer .column .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .footer-list {
    margin-top: 28px;
}

.footer .footer-list li {
    margin-bottom: 12px;
}

.footer .footer-list strong {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px; /* 185.714% */
}

.footer .footer-list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .copyright p {
    margin-top: 28px;
    text-align: center;
    color: #807d74;
    font-size: 1.4rem;
    line-height: 1.86;
}
